@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme inline {
  /** font families */
  --font-sans: "Inter";
  --font-omnes: "Omnes";
  --font-inter: "Inter";

  --spacing-dialog-sm: 20%;
  --spacing-dialog-md: 33%;
  --spacing-dialog-lg: 50%;
  --spacing-dialog-xl: 75%;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.react-colorful {
  width: auto !important;
  height: auto !important;
}

.react-colorful__saturation {
  display: none !important;
}

.react-colorful__last-control {
  border-radius: 8px !important;
}
