@import url("./puulse-colors.css");

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.ttf");
  font-display: auto;
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
}

:root {
  --sans: "Inter";

  --background: var(--puulse-sand-50);
  --foreground: var(--puulse-sand-950);

  --border: var(--puulse-sand-300);

  --primary: var(--puulse-indigo-800);
  --primary-foreground: var(--puulse-sand-50);
  --primary-border: ;

  --primary-light: ;
  --primary-light-foreground: ;
  --primary-light-border: ;

  --secondary: ;
  --secondary-foreground: ;
  --secondary-border: ;

  --secondary-light: var(--puulse-sand-200);
  --secondary-light-foreground: var(--puulse-sand-900);
  --secondary-light-border: var(--puulse-sand-400);

  --info-light: var(--puulse-iris-200);
  --info-light-foreground: var(--puulse-iris-900);
  --info-light-border: var(--puulse-iris-400);

  --success-light: var(--puulse-grass-200);
  --success-light-foreground: var(--puulse-grass-900);
  --success-light-border: var(--puulse-grass-400);

  --warning-light: var(--puulse-orange-200);
  --warning-light-foreground: var(--puulse-orange-900);
  --warning-light-border: var(--puulse-orange-400);

  --destructive: var(--puulse-red-700);
  --destructive-foreground: var(--puulse-sand-50);
  --destructive-border: ;

  --destructive-light: var(--puulse-red-200);
  --destructive-light-foreground: var(--puulse-red-900);
  --destructive-light-border: var(--puulse-red-400);

  --popover: var(--puulse-sand-100);
  --popover-foreground: var(--puulse-sand-950);

  --radius: 0.25rem;
  --radius-sm: calc(var(--radius) / 2);
  --radius-md: calc(var(--radius) * 2);
  --radius-lg: calc(var(--radius) * 2);
  --radius-xl: calc(var(--radius) * 2);

  /* --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);

  --primary: var(--palet-primary);
  --primary-foreground: oklch(0.985 0 0);

  --primary-light: oklch(81.86% 0.0624 271.8);
  --primary-light-foreground: oklch(0.205 0 0);

  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);

  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);

  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);

  --info-light: var(--palet-info-lightest);
  --info-light-foreground: oklch(23.87% 0.0982 318.02);

  --success-light: oklch(96.8% 0.0337 145.31);
  --success-light-foreground: oklch(25.84% 0.0748 141.79);

  --warning-light: oklch(95.44% 0.0245 53.69);
  --warning-light-foreground: oklch(31.24% 0.071 57.36);

  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --destructive-light: oklch(96.29% 0.0143 6.7);
  --destructive-light-foreground: oklch(26.99% 0.0903 18.84);

  --neutral: oklch(37.12% 0.0163 266.49);
  --neutral-foreground: oklch(98.81% 0 0);
  --neutral-light: oklch(92.81% 0.0042 271.37);
  --neutral-light-foreground: oklch(20.2% 0.0279 280.43);

  --input: oklch(0.922 0 0);

  --ring: oklch(0.87 0 0);

  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);

  --radius: 0.625rem;

  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.87 0 0); */
}

.dark {
  --background: var(--puulse-sand-950);
  --foreground: var(--puulse-sand-50);

  --border: var(--puulse-sand-500);

  --popover: var(--puulse-sand-950);
  --popover-foreground: var(--puulse-sand-50);
}
