@import url("./puulse-colors.css");

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.ttf");
  font-display: auto;
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
}

:root {
  --sans: "Inter";

  --radius: 0.25rem;
  --radius-sm: calc(var(--radius) / 2);
  --radius-md: calc(var(--radius) * 2);
  --radius-lg: calc(var(--radius) * 2);
  --radius-xl: calc(var(--radius) * 2);

  --background: var(--puulse-sand-50);
  --foreground: var(--puulse-sand-950);
  --border: var(--puulse-sand-300);
  --accent: var(--puulse-sand-200);

  --primary: var(--puulse-indigo-800);
  --primary-foreground: var(--puulse-sand-50);
  --primary-border: var(--puulse-sand-800);

  --primary-light: var(--puulse-indigo-alpha-200);
  --primary-light-foreground: var(--puulse-indigo-900);
  --primary-light-border: var(--puulse-indigo-alpha-400);

  --secondary: var(--puulse-sand-alpha-200);
  --secondary-foreground: var(--puulse-sand-900);
  --secondary-border: var(--puulse-sand-alpha-400);

  --info: var(--puulse-iris-200);
  --info-foreground: var(--puulse-iris-900);
  --info-border: var(--puulse-iris-alpha-400);

  --success: var(--puulse-grass-200);
  --success-foreground: var(--puulse-grass-900);
  --success-border: var(--puulse-grass-alpha-400);

  --warning: var(--puulse-orange-200);
  --warning-foreground: var(--puulse-orange-900);
  --warning-border: var(--puulse-orange-alpha-400);

  --destructive: var(--puulse-red-700);
  --destructive-foreground: var(--puulse-sand-50);
  --destructive-border: var(--puulse-red-700);

  --destructive-light: var(--puulse-red-200);
  --destructive-light-foreground: var(--puulse-red-900);
  --destructive-light-border: var(--puulse-red-alpha-400);

  --muted: var(--puulse-sand-alpha-100);
  --muted-foreground: var(--puulse-sand-900);
  --muted-border: var(--puulse-sand-alpha-50);

  --popover: var(--puulse-sand-100);
  --popover-foreground: var(--puulse-sand-950);
  --popover-border: var(--puulse-sand-500);

  --tooltip: var(--puulse-sand-950);
  --tooltip-foreground: var(--font-sans);
  --tooltip-border: var(--puulse-sand-500);

  --card: var(--puulse-sand-100);
  --card-foreground: var(--puulse-sand-950);

  --input: var(--puulse-sand-50);
  --input-foreground: var(--puulse-sand-800);

  --sidebar: var(--puulse-sand-100);
  --sidebar-foreground: var(--puulse-sand-950);
  --sidebar-primary: var(--puulse-indigo-800);
  --sidebar-primary-foreground: var(--puulse-sand-50);
  --sidebar-border: var(--puulse-sand-alpha-400);

  --overlay: oklch(0 0 0 / 32%); /* rgba(0, 0, 0, 0.32) */

  --action: var(--puulse-sand-alpha-100);
  --action-border: var(--puulse-sand-50);

  --accent-hover: var(--puulse-sand-alpha-400);
  --accent-pressed: var(--puulse-sand-alpha-200);

  --accent-light-hover: var(--puulse-sand-alpha-200);
  --accent-light-pressed: var(--puulse-sand-alpha-100);
}

.dark {
  --background: var(--puulse-sand-50);
  --foreground: var(--puulse-sand-950);
  --border: var(--puulse-sand-500);
  --accent: var(--puulse-sand-300);

  --primary: var(--puulse-indigo-800);
  --primary-foreground: var(--puulse-sand-50);
  --primary-border: var(--puulse-sand-800);

  --primary-light: var(--puulse-indigo-400);
  --primary-light-foreground: var(--puulse-indigo-900);
  --primary-light-border: var(--puulse-indigo-alpha-600);

  --secondary: var(--puulse-sand-alpha-200);
  --secondary-foreground: var(--puulse-sand-900);
  --secondary-border: var(--puulse-sand-alpha-400);

  --info: var(--puulse-iris-200);
  --info-foreground: var(--puulse-iris-900);
  --info-border: var(--puulse-iris-alpha-400);

  --success: var(--puulse-grass-200);
  --success-foreground: var(--puulse-grass-800);
  --success-border: var(--puulse-grass-alpha-400);

  --warning: var(--puulse-orange-200);
  --warning-foreground: var(--puulse-orange-900);
  --warning-border: var(--puulse-orange-alpha-400);

  --destructive: var(--puulse-red-700);
  --destructive-foreground: var(--puulse-sand-950);
  --destructive-border: var(--puulse-red-700);

  --destructive-light: var(--puulse-red-200);
  --destructive-light-foreground: var(--puulse-red-800);
  --destructive-light-border: var(--puulse-red-alpha-600);

  --muted: var(--puulse-sand-alpha-200);
  --muted-foreground: var(--puulse-sand-900);
  --muted-border: var(--puulse-sand-alpha-50);

  --popover: var(--puulse-sand-200);
  --popover-foreground: var(--puulse-sand-950);
  --popover-border: var(--puulse-sand-500);

  --tooltip: var(--puulse-sand-950);
  --tooltip-foreground: var(--font-sans);
  --tooltip-border: var(--puulse-sand-500);

  --card: var(--puulse-sand-100);
  --card-foreground: var(--puulse-sand-950);

  --input: var(--puulse-sand-50);
  --input-foreground: var(--puulse-sand-900);

  --sidebar: var(--puulse-sand-100);
  --sidebar-foreground: var(--puulse-sand-950);
  --sidebar-primary: var(--puulse-indigo-800);
  --sidebar-primary-foreground: var(--puulse-sand-950);
  --sidebar-border: var(--puulse-sand-alpha-400);

  --overlay: oklch(0 0 0 / 56%); /* rgba(0, 0, 0, 0.56) */

  --action: var(--puulse-sand-alpha-100);
  --action-border: var(--puulse-sand-950);

  --accent-hover: var(--puulse-sand-alpha-400);
  --accent-pressed: var(--puulse-sand-alpha-200);

  --accent-light-hover: var(--puulse-sand-alpha-300);
  --accent-light-pressed: var(--puulse-sand-alpha-100);
}
